<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebApp2</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>readparam</display-name>
    <servlet-name>readparam</servlet-name>
    <servlet-class>inputdata.readparam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>readparam</servlet-name>
    <url-pattern>/readparam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>readservicedata</display-name>
    <servlet-name>readservicedata</servlet-name>
    <servlet-class>inputdata.readservicedata</servlet-class>
  </servlet>
  <servlet>
    <display-name>dwr rockz</display-name>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
    <init-param>
      <param-name>crossDomainSessionSecurity</param-name>
      <param-value>false</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>readservicedata</servlet-name>
    <url-pattern>/readservicedata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>setSession</display-name>
    <servlet-name>setSession</servlet-name>
    <servlet-class>inputdata.setSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setSession</servlet-name>
    <url-pattern>/setSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>displayRightPane</display-name>
    <servlet-name>displayRightPane</servlet-name>
    <servlet-class>inputdata.displayRightPane</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayRightPane</servlet-name>
    <url-pattern>/displayRightPane</url-pattern>
  </servlet-mapping>
</web-app>